/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
  padding: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #68dd50 11%, rgba(193, 255, 183, 0) 21%);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: .5s;
}

/* nav pink */
header .navMenu {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #ef41b4;
}

header .navMenu button {
  font-size: 35px;
  background: none;
  border: none;
  z-index: 2;
}

header .navMenu .user {
  display: flex;
  align-items: center;
}

header .navMenu .boxPesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

header .navMenu .boxPesquisa input {
  width: 250px;
  height: 30px;
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

header .navMenu .boxPesquisa button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68dd50;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}
/* fim nav pink */

/* menu Hamburger aberto */
.navList {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: #56a143;
  transform: translateX(-100%);
  padding-top: 80px;
  z-index: 1;
  transition: 0.3s;

  padding-left: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navList.active {
  transform: translateX(0);
}

.navList .x {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 40px;
  display: none;
  transition: none;
}

.navList a {
  text-decoration: none;
  color: inherit;
}

.navList a:hover {
  text-decoration: underline;
}

.navList li {
  list-style: none;
}

.navList p {
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: -1px;
  color: #f6f6f6;
}

/* btn modo noturno */
nav .navList .btnModoNoturno button {
  display: flex;
  align-items: center;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 0;
  background-color: #717d96;
}

nav .navList .btnModoNoturno button span {
  display: block;
  width: 23px;
  height: 23px;
  margin-left: 2px;
  background-color: #000;
  border-radius: 50%;
  transition: margin-left 0.3s, background-color 0.3s;
}

nav .navList .btnModoNoturno button.activeButton {
  background-color: green;
}

nav .navList .btnModoNoturno button.activeButton span {
  margin-left: 24.5px;
  background-color: #fff;
}
/* fim btn modo noturno */
/* fim menu Hamburger aberto */

/* text main */
main .x {
  font-size: 40px;
  margin-left: 10px;
}

main .texts {
  position: relative;
  width: 100%;
  height: 80px;
}

main .texts .tittle {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
  left: 20px;
}

main .texts .sub {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  left: 60px;
}
/* fim text main */

/* slots */
main .container {
  position: relative;
  width: 100%;
  height: 845px;
}

main .container .accordion {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

main .container .accordion .contentBx {
  position: relative;
  margin: 10px 20px;

  font-family: "Jost";
  font-weight: 400;
}

main .container .accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background-color: #f1ffd1;
  color: #000;
}

main .container .accordion .contentBx button {
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

main .container .accordion .contentBx .box {
  width: 24%;
  height: 95%;
}

main .container .accordion .contentBx.active .bkg1 {
  background-color: #f1ffd1;
}

main .container .accordion .contentBx .bkg2 {
  background-color: #ffdaec;
}

main .container .accordion .contentBx .content {
  position: relative;
  background-color: #ffdaec;
  display: flex;
  justify-content: space-between;
  height: 0;
  overflow: hidden;
  transition: 0.15s;
  overflow-y: auto;
}

/* container active */
main .container .accordion .contentBx.active .content {
  font-size: 14px;
  height: 100px;
  padding: 5px;
}

main .container .accordion .contentBx .cloverRanking {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main .container .accordion .contentBx .suaClassificacao {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main .container .accordion .contentBx .salvar {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main .container .accordion .contentBx .verMaisInformacoes {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main .container .accordion .contentBx a {
  text-decoration: none;
  color: inherit;
}

main .container .accordion .contentBx a:hover {
  text-decoration: underline;
}

main .container .accordion .contentBx.active .content .fa-regular {
  transform: scale(1.4);
}

/* active arrows */
main .container .accordion .contentBx #arrowOne.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowTwo.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowThree.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowFour.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowFive.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowSix.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowSeven.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowEight.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowNine.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowTen.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}

main .container .accordion .contentBx #arrowVerMais.activeBox {
  rotate: 90deg;
  transition: 0.3s;
}
/* fim active arrows */
/* fim active container */
/* fim slots */

/* ver mais */
main .container .accordion .contentBx .labelVerMais {
  background: none;
  margin-left: 260px;
}

main .container .accordion .contentBx.active .verMais {
  height: 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #11690e1e;
}
/* fim ver mais */

/* rodapé */
footer {
  width: 100%;
  height: 350px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #68dd50;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  text-decoration: underline;
}

footer .boxFooter {
  width: 110px;
  height: 140px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

footer .container-footer5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .container-footer5 button {
  width: 100px;
  height: 30px;
  background-color: #333333;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 6px;
  color: #fff;
}

.fa-brands {
  font-size: 30px;
  color: #fff;
}
/* fim rodapé */

/* modo noturno */
body.meActive {
  background: linear-gradient(180deg, #5ed347 11%, rgba(193, 255, 183, 0) 21%);
  background-color: rgb(37, 42, 47);
}

/* header */
header .navMenu.meActive {
  background-color: #a30e71;
}

header .navMenu .menuMobile.meActive {
  color: #f6f6f6;
}

header .navMenu .userNoturno.meActive {
  color: #f6f6f6;
}

header .navMenu .boxPesquisa .pesquisaNoturno.meActive {
  background-color: #1db100;
}
/* fim header */

/* main */
main .x.meActive {
  color: #f6f6f6;
}

main .texts .tittle.meActive {
  color: #f6f6f6;
}

main .texts .sub.meActive {
  color: #f6f6f6;
}

/* boxs */
/* boxs label */
main .container .accordion .bkgModoEscuro1.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro2.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro3.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro4.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro5.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro6.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro7.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro8.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro9.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro10.meActive {
  background-color: #c25489;
}
/* fim boxs label */

/* boxs open */
main .container .accordion .contentBx .bkgContent1.meActive {
  background-color: #829d44;
  color: #000;
}

main .container .accordion .contentBx .bkgContent2.meActive {
  background-color: #c25489;
  color: #000;
}

main .container .accordion .contentBx .bkgContent3.meActive {
  background-color: #829d44;
  color: #000;
}

main .container .accordion .contentBx .bkgContent4.meActive {
  background-color: #c25489;
  color: #000;
}

main .container .accordion .contentBx .bkgContent5.meActive {
  background-color: #829d44;
  color: #000;
}

main .container .accordion .contentBx .bkgContent6.meActive {
  background-color: #c25489;
  color: #000;
}

main .container .accordion .contentBx .bkgContent7.meActive {
  background-color: #829d44;
  color: #000;
}

main .container .accordion .contentBx .bkgContent8.meActive {
  background-color: #aa4877;
  color: #000;
}

main .container .accordion .contentBx .bkgContent9.meActive {
  background-color: #829d44;
  color: #000;
}

main .container .accordion .contentBx .bkgContent10.meActive {
  background-color: #c25489;
  color: #000;
}
/* fim boxs open */

/* ver mais */
main .container .accordion .contentBx .labelVerMais.meActive {
  color: #f6f6f6;
}

main .container .accordion .contentBx .labelVerMais #arrowVerMais.meActive {
  color: #f6f6f6;
}

main .container .accordion .contentBx .verMais.meActive {
  background-color: #68dd5008;
  color: #f6f6f6;
}
/* fim ver mais */
/* fim  boxs */
/* fim main */

/* rodapé */
footer.meActive {
  background-color: #4d963e;
}
/* fim rodapé */

/* media screen */
@media screen and (min-width: 530px) {

  /* nav pink */

header .navMenu button {
  font-size: 45px;
}

header .navMenu .boxPesquisa input {
  width: 300px;
  height: 32px;
}
/* fim nav pink */

/* menu Hamburger aberto */
.navList {
  padding-top: 120px;
  padding-left: 10px;
  font-size: 27px;
}

.navList .x {
  top: 10px;
  font-size: 55px;
}

.navList p {
  margin-top: 40px;
}

/* btn modo noturno */
nav .navList .btnModoNoturno button {
  width: 70px;
  height: 35px;
}

nav .navList .btnModoNoturno button span {
  display: block;
  width: 29px;
  height: 29px;
  margin-left: 3px;
}

nav .navList .btnModoNoturno button.activeButton {
  background-color: green;
}

nav .navList .btnModoNoturno button.activeButton span {
  margin-left: 38px;
  background-color: #fff;
}
/* fim btn modo noturno */
/* fim menu Hamburger aberto */

/* text main */
main .x {
  font-size: 50px;
  margin-left: 10px;
}

main .texts {
  height: 100px;
}

main .texts .tittle {
  left: 40px;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 15px;
}

main .texts .sub {
  left: 100px;
  font-size: 13px;
  line-height: 14px;
}
/* fim text main */

/* slots */
main .container {
  height: 910px;
}

main .container .accordion {
  width: 500px;
}

main .container .accordion .contentBx .label {
  padding: 13px;
}

main .container .accordion .contentBx button {
  right: 12px;
}

main .container .accordion .contentBx .box {
  width: 20%;
}

/* container active */
main .container .accordion .contentBx.active .content {
  font-size: 15px;
}

main .container .accordion .contentBx.active .content .fa-regular {
  transform: scale(1.5);
}
/* fim active container */
/* fim slots */

/* ver mais */
main .container .accordion .contentBx .labelVerMais {
  margin-left: 345px;
  font-size: 18px;
}
/* fim ver mais */
}