/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
  padding: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #68dd50 11%, rgba(193, 255, 183, 0) 21%);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: .5s;
}

/* text main */
main .x {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

main .texts {
  position: relative;
  width: 100%;
  height: 80px;
}

main .texts .tittle {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
  left: 20px;
}

main .texts .sub {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  left: 40px;
}
/* fim text main */

/* slots */
main .container {
  position: relative;
  width: 100%;
  height: 1010px;
}

main .container .accordion {
  width: 360px;
  padding-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: "Jost";
  font-weight: 400;
  border: none
}

main .container .accordion .bkg1 {
  background-color: #f1ffd1;
}

main .container .accordion .bkg2 {
  background-color: #ffdaec;
}

/* container active */
main .container .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 14px;
  height: 130px;
  gap: 10px;
  display: flex;
}

main .container .accordion .accordion-item .accordion-collapse .accordion-body .box {
  width: 24%;
  height: 95%;

  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

main .container .accordion a {
  text-decoration: none;
  color: inherit;
}

main .container .accordion a:hover {
  text-decoration: underline;
}

main .container .accordion .fa-regular {
  transform: scale(1.8);
}

main .container .accordion .fa-solid {
  transform: scale(1.8);
}

/* bookmarks */
/* box1 */
main .container .accordion #bookmark1 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark1.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack1 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack1.ON {
  display: block;
  cursor: pointer;
}
/* fim box1 */

/* box2 */
main .container .accordion #bookmark2 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark2.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack2 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack2.ON {
  display: block;
  cursor: pointer;
}
/* fim box2 */

/* box3 */
main .container .accordion #bookmark3 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark3.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack3 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack3.ON {
  display: block;
  cursor: pointer;
}
/* fim box3 */

/* box4 */
main .container .accordion #bookmark4 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark4.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack4 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack4.ON {
  display: block;
  cursor: pointer;
}
/* fim box4 */

/* box5 */
main .container .accordion #bookmark5 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark5.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack5 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack5.ON {
  display: block;
  cursor: pointer;
}
/* fim box5 */

/* box6 */
main .container .accordion #bookmark6 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark6.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack6 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack6.ON {
  display: block;
  cursor: pointer;
}
/* fim box6 */

/* box7 */
main .container .accordion #bookmark7 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark7.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack7 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack7.ON {
  display: block;
  cursor: pointer;
}
/* fim box7 */

/* box8 */
main .container .accordion #bookmark8 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark8.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack8 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack8.ON {
  display: block;
  cursor: pointer;
}
/* fim box8 */

/* box9 */
main .container .accordion #bookmark9 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark9.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack9 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack9.ON {
  display: block;
  cursor: pointer;
}
/* fim box9 */

/* box10 */
main .container .accordion #bookmark10 {
  display: block;
  cursor: pointer;
}

main .container .accordion #bookmark10.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack10 {
  display: none;
  cursor: pointer;
}

main .container .accordion #bookmarkBlack10.ON {
  display: block;
  cursor: pointer;
}
/* fim box10 */

/* stars */

/* box1 */
main .container .accordion #star1 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star1.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack1 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack1.ON {
  display: block;
  cursor: pointer;
}
/* fim box1 */

/* box2 */
main .container .accordion #star2 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star2.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack2 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack2.ON {
  display: block;
  cursor: pointer;
}
/* fim box2 */

/* box3 */
main .container .accordion #star3 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star3.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack3 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack3.ON {
  display: block;
  cursor: pointer;
}
/* fim box3 */

/* box4 */
main .container .accordion #star4 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star4.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack4 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack4.ON {
  display: block;
  cursor: pointer;
}
/* fim box4 */

/* box5 */
main .container .accordion #star5 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star5.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack5 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack5.ON {
  display: block;
  cursor: pointer;
}
/* fim box5 */

/* box6 */
main .container .accordion #star6 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star6.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack6 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack6.ON {
  display: block;
  cursor: pointer;
}
/* fim box6 */

/* box7 */
main .container .accordion #star7 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star7.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack7 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack7.ON {
  display: block;
  cursor: pointer;
}
/* fim box7 */

/* box8 */
main .container .accordion #star8 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star8.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack8 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack8.ON {
  display: block;
  cursor: pointer;
}
/* fim box8 */

/* box9 */
main .container .accordion #star9 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star9.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack9 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack9.ON {
  display: block;
  cursor: pointer;
}
/* fim box9 */

/* box10 */
main .container .accordion #star10 {
  display: block;
  cursor: pointer;
}

main .container .accordion #star10.ON {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack10 {
  display: none;
  cursor: pointer;
}

main .container .accordion #starBlack10.ON {
  display: block;
  cursor: pointer;
}
/* fim box10 */
/* fim active container */
/* fim slots */

/* ver mais */
main .container .accordion .labelVerMais {
  background: none;
  width: 140px;
  margin-left: 220px;
  cursor: pointer;
  text-align: center;
}

main .container .accordion .verMais {
  text-align: center;
  background-color: #ffffff00;
}
/* fim ver mais */

/* modo noturno */
body.meActive {
  background: linear-gradient(180deg, #5ed347 11%, rgba(193, 255, 183, 0) 21%);
}

/* main */
main .xNoturno.meActive {
  color: #f6f6f6;
}

main .texts .tittle.meActive {
  color: #f6f6f6;
}

main .texts .sub.meActive {
  color: #f6f6f6;
}

/* boxs */
main .container .accordion .bkgModoEscuro1.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro2.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro3.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro4.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro5.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro6.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro7.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro8.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgModoEscuro9.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgModoEscuro10.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgContentModoEscuro1.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgContentModoEscuro2.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgContentModoEscuro3.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgContentModoEscuro4.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgContentModoEscuro5.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgContentModoEscuro6.meActive {
  background-color: #c25489;
}

main .container .accordion .bkgContentModoEscuro7.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgContentModoEscuro8.meActive {
  background-color: #c25489;
}
main .container .accordion .bkgContentModoEscuro9.meActive {
  background-color: #829d44;
}

main .container .accordion .bkgContentModoEscuro10.meActive {
  background-color: #c25489;
}

/* ver mais */
main .container .accordion .labelVerMais.meActive {
  color: #fff;
}

main .container .accordion .verMais.meActive {
  color: #fff;
}
/* fim ver mais */
/* fim  boxs */
/* fim main */

/* media screen */
@media screen and (min-width: 530px) {

/* text main */
main .x {
  font-size: 50px;
  margin-left: 10px;
}

main .texts {
  height: 100px;
}

main .texts .tittle {
  left: 40px;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 15px;
}

main .texts .sub {
  left: 100px;
  font-size: 13px;
  line-height: 14px;
}
/* fim text main */

/* slots */
main .container {
  height: 910px;
}

main .container .accordion {
  width: 500px;
}

main .container .accordion  .label {
  padding: 13px;
}

main .container .accordion  button {
  right: 12px;
}

main .container .accordion  .box {
  width: 20%;
}

/* container active */
main .container .accordion {
  font-size: 15px;
}

main .container .accordion .fa-regular {
  transform: scale(1.5);
}

main .container .accordion .fa-solid {
  transform: scale(1.5);
}
/* fim active container */
/* fim slots */

/* ver mais */
main .container .accordion  .labelVerMais {
  margin-left: 345px;
  font-size: 18px;
}

main .container .accordion .verMais {
  height: 65px;
}
/* fim ver mais */
}

/* media screen */
@media screen and (min-width: 600px) {

/* text main */
main .texts {
  height: 100px;
}

main .texts .tittle {
  left: 50px;
}

main .texts .sub {
  left: 110px;
}
/* fim text main */

/* slots */
main .container .accordion {
  width: 580px;
}
/* fim slots */

/* ver mais */
main .container .accordion  .labelVerMais {
  margin-left: 420px;
}
/* fim ver mais */
}
@media screen and (min-width: 720px) {

/* text main */
main .x {
  font-size: 55px;
}

main .texts .tittle {
  left: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}

main .texts .sub {
  left: 120px;
  font-size: 18px;
}
/* fim text main */

/* slots */
main .container {
  height: 1030px;
}

main .container .accordion {
  width: 700px;
}

/* container active */
main .container .accordion {
  font-size: 17px;
}

main .container .accordion .fa-regular {
  transform: scale(1.7);
}

main .container .accordion .fa-solid {
  transform: scale(1.7);
}
/* fim active container */
/* fim slots */

/* ver mais */
main .container .accordion  .labelVerMais {
  margin-left: 560px;
  font-size: 22px;
}

main .container .accordion .verMais {
  height: 65px;
}
/* fim ver mais */
}

@media screen and (min-width: 1280px) {
  
  /* text main */
  main .x {
    font-size: 55px;
  }
  
  main .texts {
    height: 100px;
  }
  
  main .texts .tittle {
    font-size: 50px;
    margin-bottom: 25px;
    left: 270px;
  }
  
  main .texts .sub {
    font-size: 20px;
    left: 370px;
  }
  /* fim text main */
  
  /* slots */
  main .container {
    height: 1220px;
  }
  
  main .container .accordion {
    width: 1200px;
  }
  
  main .container .accordion .label {
    font-size: 28px;
  }
  
  main .container .accordion button {
    font-size: 30px;
  }
  
  main .container .accordion .box {
    font-size: 25px;
  }

  /* container active */
  main .container .accordion {
    height: 150px;
  }
  
  main .container .accordion .fa-regular {
    transform: scale(1.6);
  }

  main .container .accordion .fa-solid {
    transform: scale(1.6);
  }
  /* fim active container */
  /* fim slots */
  
  /* ver mais */
  main .container .accordion  .labelVerMais {
    margin-left: 1000px;
    width: 200px;
    font-size: 28px;
  }
  
  main .container .accordion .verMais {
    height: 100px;
  }

  main .container .accordion .verMais h6{
    font-size: 30px;
  }
  /* fim ver mais */
}