/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
    padding: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
}

body{
    overflow-x: hidden;
}

header .navMenu {
    margin-bottom: 10px;
}

main .carrossel .carousel {
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 10px;
}

main .cards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 1000px;
    gap: 10px;
    margin: 10px auto;
}

main .cards::-webkit-scrollbar {
    display: none;
}

main .cards .card .card-body {
    width: 770px;
}

main .cards .card:hover {
    transform: scale(1.01);
}

main .cards .card .card-body.meActive {
    background-color: rgb(47, 47, 47);
}

main .cards .card .card-body .card-title.meActive {
    color: #f6f6f6;
}

main .cards .card .card-body .card-text.meActive {
    color: #f6f6f6;
}

@media screen and (min-width: 1280px) {
    main .cards {
        width: 1200px;
    }
}