/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
    padding: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

header .navMenu{
    margin-bottom: 10px;
}

main .carousel{
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 10px;
}

main .cards{
    display: flex;
    width: 480px;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.card-body{
    height: 140px;
}

main .propaganda{
    margin: 0 auto;
}