/* font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif; */
* {
    padding: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    transition: .3s ;
}

/* header */
header .navMenu {
    margin-bottom: 10px;
}
/* fim header */

/* main */
main .xNoturno {
    font-size: 40px;
    margin-left: 10px;
    margin-top: -10px;
}

main .fa-xmark{
    cursor: pointer;
}

main .carrossel .carousel {
    width: 95vw;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(221, 200, 85, 0.451);
}

main .nameAndClassific{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

main .nameAndClassific .fa-heart{
    transform: scale(1.8);
    cursor: pointer;
}

main .line{
    width: 95vw;
    height: 2px;
    border-radius: 50px;
    background-color: #000;
    margin: 10px auto;
}

main .texts{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main .texts h1{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

main .texts p{
    font-family: 'Montserrat', sans-serif;
}

main .texts .comprar .logo{
    width: 230px;
    display: flex;
    align-items: center;
    border: 1px solid #000;
}

main .texts .comprar .logo h1{
    width: 120px;
    text-align: center;
}

main .texts .comprar a{
    text-decoration: none;
    color: inherit;
}

/* salvar */
#heart{
    display: block;
}
#heartBlack{
    display: none;
}
#heart.ON{
    display: none;
}
#heartBlack.ON{
    display: block;
}
/* fim salvar */

/* stars */
main .avaliacao{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 33px;
    margin-bottom: 20px;
}

.starIcon{
    list-style: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 50px;
    margin-left: -33px;
}

.starIcon::before{
    content: "\2605";
}

.starIcon.active ~ .starIcon::before{
    content: "\2606";
}


/* fim stars */
/* fim main */

/* modo escuro */
main .xNoturno.meActive{
    color: #f6f6f6;
}

main .nameAndClassific.meActive{
    color: #f6f6f6;
}

main .line.meActive{
    background-color: #f6f6f6;
}

main .texts.meActive{
    color: #f6f6f6;
}

@media screen and (min-width: 800px) {

    main .nameAndClassific{
        padding: 0 38px 0 38px;
    }

    main .texts .comprar .logo{
        margin: 20px 0 0 20px;
    }
}